<div class="col-md-2 mt-5">

  <div class="text-center border fw-bold">
    タグ一覧
  </div>
  <% tag_list.each do |list| %>
  <% if list.posts.count > 0 %>
  <div>
    <i class="fas fa-tag"></i><%= link_to list.name, tag_posts_path(tag_id: list.id) %>
    <%= "(#{list.posts.count})" %>
  </div>
  <% end %>
  <% end %>
  <%= render 'layouts/search' %>

</div>