<div class="container">
<h2>posts test</h2>





  <% @posts.each do |post| %>
  <div>
  <%= post.title %><br>
  <%= post.body %><br>
  <i class="fas fa-tag"></i><%= post.tags.map(&:name).join(',') %>
  </div>
  <% end %>
</div>

