<div class="row m-3">
  <%= render 'posts/sidebar', tag_list: @tag_list %>
  <div class="col-md-8">
<h2>posts test</h2>


  <% @posts.each do |post| %>
  <div class="border shadow mb-2 b">
  <%= post.title %><br>
  <%= post.body %><br>
  <i class="fas fa-tag"></i><%= post.tags.map(&:name).join(',') %>
  </div>
  <% end %>
</div>
</div>
