<h2>posts test</h2>
<ul>
  <% @posts.each do |post| %>
  <li><%= post.title %> </li>
  <li><%= post.body %></li>
  <% end %>
</ul>


<h2><%= current_user.email %></h2>
<h2><%= current_user.nickname %></h2>