<h1>投稿詳細</h1>

<div class="container">
  <% if @post.image? %>
  <%= image_tag @post.image.url, size: '600x300' %><br>
  <% end %>
  <%= @post.title %><br>
  <%= @post.body %><br>
  <%= @tag_list%>

</div>
